body {
  background: #FF4444;
  color: #fff;
}

button {
  background: #cccccc;
}

#name {
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 45px;
  text-decoration: underline;
}
@media only screen and (min-width: 600px) {
  #name {
    font-size: 55px;
  }
}

@media only screen and (min-width: 768px) {
  #name {
    font-size: 65px;
  }
}

#display {
  text-align: center;
  line-height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 45px;
  width: 100%;

}

@media only screen and (min-width: 600px) {
  #display {
    font-size: 60px;
    line-height: 80px;
  }
}

@media only screen and (min-width: 768px) {
  #display {
    font-size: 75px;
    line-height: 100px;
  }
}


#buttons {
  text-align: center;
  position: relative;
  top: 73%;
  height: auto;
}

#buttons button {
  margin: 5px;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}


button:hover {
  background: rgba(68, 200, 255);
}


#stopWatchBtns {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 600px) {
  #stopWatchBtns {
    top: 55%;
  }
}

@media only screen and (min-width: 768px) {
  #stopWatchBtns {
    top: 57%;
  }
}

#stopWatchBtns button {
  margin: 5px;
  border: none;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}


#buttons button {
  margin: 5px;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}


button:hover {
  background: rgba(68, 200, 255);
}
